* {
    margin: 0 auto;
}

html {
    font-family: 'Helvetica', 'Georgia', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: black;
}

nav li {
    display: inline-flex;
    justify-content: right;
}

#logo {
    align: left;
    height: 50px;
}

.mission {
    height: 700px;
    width: 1200px;
    background-image: url("../images/img-mission-background.webp");
    display:flex;
    align-items: center;
    margin-bottom: 100px;
}

.mtext {
    width: 100%;
    align-content: center;
    background-color: black;
    padding: 10px;
}

.month {
    width: 1000px;
}

#images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#images img {
    height: 200px;
    width: 300px;
    padding: 10px;
    align-items: center;
}
